<!DOCTYPE html>
<html>
<head>
  <title>Ideja</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<h1> Our ideas </h1>
		 	<%= yield %>
     <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
        <button type="button" class="btn btn-info"> 
        <%= link_to('Login', new_user_session_path)  %>  
        </button>
    </li>
<% end %>
		 <h1 class="bottom-of-the-page">Rails Girls</h1>
	</div>

</body>
</html>
